# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Data (opcional, si no quieres subir el dataset)
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeepnotebooks/random_forest_flight_price_model.pkl
notebooks/catboost_info/
/notebooks/random_forest_flight_price_model.pkl
